<!--The commented out code below are parts of the UXD template for the 75/25-->
<!--master-detail page.  I am commenting in bits of it at a time to make it easier-->
<!--to implement.  I will remove anything leftover when I am done.  -MBS-->


<nav>
    <ul class="breadcrumb">
        <li><a id="requestDetails.nav.home" href="../home/#/"><span ng-bind="'common.breadcumb.home' | i18n"/></a></li>
        <li><a id="requestDetails.nav.requestListing" href="../agreementListing/#/"><span
                ng-bind="'common.breadcumb.agreementListing' | i18n"/></a></li>
        <li ng-bind="'agreement.breadcrumbTitle' | i18n"></li>
    </ul>
</nav>
<div class="panel panel-default col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <!--Detail Panel-->
    <div class="panel-body">

        <select id="sourceInstitutionId" ng-model="ag.agreement.sourceInstitutionId"
                data-ng-options="institution.id as institution.name for institution in ag.institutionList" required>
            <option value="" default selected>{{'agreementListing.agreements.institution.tableHeader' | i18n}}*</option>
        </select>

        <input class="col-lg-12" ng-model="ag.agreement.name" placeholder="{{'agreementListing.agreements.name.tableHeader' | i18n}}"/>
        <input class="col-lg-12" ng-model="ag.agreement.description" placeholder="{{'agreementListing.agreements.description.tableHeader' | i18n}}"/>
        <input class="col-lg-12" ng-model="ag.agreement.program" placeholder="{{'agreementListing.agreements.program.tableHeader' | i18n}}"/>
        <input id="timepicker" class="form-control" data-provide="timepicker" type="text" ng-model="ag.agreement.catalogYear"
               placeholder="{{'agreementListing.agreements.catalog.tableHeader' | i18n}}"/>

        <!--data-minute-step="5" data-modal-backdrop="false"-->


        <!--Save agreement button-->
        <p>
            <a id="saveAgreementBtn" href="#/agreementListing/save" role="button" class="btn btn-default btn-sm" ng-click="ag.save()">
                <span class="EllucianIcon icon-left icon-identifier glyphicon glyphicon-plus" aria-hidden="true"/>
                <span ng-bind="'agreementListing.agreements.save.button' | i18n"/>
            </a>
        </p>
    </div>
</div>


<div class="master-detail">
<div class="container-fluid master">
<!-- Table Header -->
<div class="container-fluid table-header">
    <div class="row">
		<span class="col-xs-12 ">
			<h5 ng-bind="'agreementListing.equivalencies.badge' | i18n"/>
            <span class="badge badge-draft"> {{ag.agreement.equivalencies.length}} </span>

            <!--<span class="align-right">-->

				<!--<span class="hidden-md hidden-lg hidden-xl">-->
					<!--<button id="tableFilterToggle" type="button" class="EllucianIcon visibility-toggle">-->
                        <!--<?xml version="1.0" encoding="utf-8"?>-->
                        <!--&lt;!&ndash; Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
                        <!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
	 <!--viewBox="-401 277 24 24" style="enable-background:new -401 277 24 24;" xml:space="preserve">-->
<!--<style type="text/css">-->
	<!--.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#848484;}-->
<!--</style>-->
<!--<path class="st0" d="M-386,294h2v-6h-2V294z M-394,294h2v-6h-2V294z M-390,294h2v-6h-2V294z M-394,286h10v-2h-10V286z M-400,289-->
	<!--c0-6.1,4.9-11,11-11s11,4.9,11,11s-4.9,11-11,11S-400,295.1-400,289C-400,289-400,289-400,289z M-401,289c0,6.6,5.4,12,12,12-->
	<!--s12-5.4,12-12s-5.4-12-12-12S-401,282.4-401,289z"/>-->
<!--</svg>-->
                    <!--</button>-->
				<!--</span>-->

            <!--<span id="tableFilter" class="hidden-xs hidden-sm dropdown">-->
					<!--<span class="dropdown">-->
	<!--<button class="btn btn-default dropdown-toggle" data-placeholder="false" type="button" id="dropdownMenuCheckbox" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
        <!--Dropdown Checkboxes-->
		<!--<span class="EllucianIcon icon-right icon-arrow" aria-hidden="True">-->
			<!--<?xml version="1.0" encoding="utf-8"?>-->
            <!--&lt;!&ndash; Generated by IcoMoon.io &ndash;&gt;-->
<!--<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">-->
<!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">-->
    <!--<path fill="#869fb1" d="M21.2 4.5l2.8 2.667-12 11.429-12-11.429 2.8-2.667 9.2 8.762z"></path>-->
<!--</svg>-->
		<!--</span>-->
    <!--</button>-->
		<!--<ul class="dropdown-menu noclose" aria-labelledby="dropdownMenuCheckbox">-->
            <!--<li>-->
                <!--<input id="Checkbox11" type="checkbox" value="Checkbox11">-->
                <!--<label for="Checkbox11"> Checkbox 1 </label>-->
            <!--</li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li>-->
                <!--<input id="Checkbox12" type="checkbox" value="Checkbox12">-->
                <!--<label for="Checkbox12"> Checkbox 2 </label>-->
            <!--</li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li>-->
                <!--<input id="Checkbox13" type="checkbox" value="Checkbox13">-->
                <!--<label for="Checkbox13"> Checkbox 3 </label>-->
            <!--</li>-->
            <!--<li>-->
                <!--<button class="btn btn-primary btn-block"  data-toggle="dropdown"> Apply </button>-->
            <!--</li>-->
        <!--</ul>-->
<!--</span>				</span>-->
				<!--<span class="hidden-md hidden-lg hidden-xl">-->
					<!--<button id="tableSearchToggle" type="button" class="EllucianIcon visibility-toggle">-->
                        <!--<?xml version="1.0" encoding="utf-8"?>-->
                        <!--&lt;!&ndash; Generated by IcoMoon.io &ndash;&gt;-->
                        <!--<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">-->
                        <!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">-->
                            <!--<path fill="#869fb1" d="M16.667 14.667h-1.067l-0.4-0.4c1.333-1.467 2.133-3.467 2.133-5.6 0-4.8-3.867-8.667-8.667-8.667s-8.667 3.867-8.667 8.667c0 4.8 3.867 8.667 8.667 8.667 2.133 0 4.133-0.8 5.6-2.133l0.4 0.4v1.067l6.667 6.667 2-2-6.667-6.667zM8.667 14.667c-3.333 0-6-2.667-6-6s2.667-6 6-6c3.333 0 6 2.667 6 6s-2.667 6-6 6z"></path>-->
                        <!--</svg>-->
                    <!--</button>-->
				<!--</span>-->
				<!--<span id="tableSearch" class="hidden-xs hidden-sm form-group-inline has-feedback">-->
					<!--<div class="form-group has-feedback">-->
                        <!--<input class="form-control" id="searchInput" type="search" placeholder="Search">-->
                        <!--<button type="submit" class="EllucianIcon form-control-feedback">-->
                            <!--<?xml version="1.0" encoding="utf-8"?>-->
                            <!--&lt;!&ndash; Generated by IcoMoon.io &ndash;&gt;-->
                            <!--<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">-->
                            <!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">-->
                                <!--<path fill="#869fb1" d="M16.667 14.667h-1.067l-0.4-0.4c1.333-1.467 2.133-3.467 2.133-5.6 0-4.8-3.867-8.667-8.667-8.667s-8.667 3.867-8.667 8.667c0 4.8 3.867 8.667 8.667 8.667 2.133 0 4.133-0.8 5.6-2.133l0.4 0.4v1.067l6.667 6.667 2-2-6.667-6.667zM8.667 14.667c-3.333 0-6-2.667-6-6s2.667-6 6-6c3.333 0 6 2.667 6 6s-2.667 6-6 6z"></path>-->
                            <!--</svg>-->
                        <!--</button>-->
                    <!--</div>				</span>-->
			<!--</span>-->
		</span>
    </div>
</div>
<!-- end Table Header-->

<!--<div class="container-fluid table-row table-filter">-->
<!--<div class="row">-->
<!--<span class="hidden-xs col-sm-9 col-md-9 padding-x-0">-->
<!--<span class="col-xs-4 col-sm-3 col-md-2 col-lg-2 col-xl-2"> <a>-->
<!--Sort-->
<!--<span class="EllucianIcon icon-right icon-arrow" aria-hidden="True">-->
<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--&lt;!&ndash; Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
<!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--viewBox="-3 5 24 24" style="enable-background:new -3 5 24 24;" xml:space="preserve">-->
<!--<style type="text/css">-->
<!--.st0{fill:#869FB1;}-->
<!--</style>-->
<!--<path class="st0" d="M14.8,20.1l1.8,1.7L9,29l-7.6-7.2l1.8-1.7L9,25.6L14.8,20.1z M3.2,13.9l-1.8-1.7L9,5l7.6,7.2l-1.8,1.7L9,8.4-->
<!--L3.2,13.9z"/>-->
<!--</svg>-->
<!--</span></a>-->
<!--</span>-->
<!--<span class="col-xs-8 col-sm-3 col-md-2 col-lg-2 col-xl-2"> <a>-->
<!--Sort-->
<!--<span class="EllucianIcon icon-right icon-arrow" aria-hidden="True">-->
<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--&lt;!&ndash; Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
<!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--viewBox="-3 5 24 24" style="enable-background:new -3 5 24 24;" xml:space="preserve">-->
<!--<style type="text/css">-->
<!--.st0{fill:#869FB1;}-->
<!--</style>-->
<!--<path class="st0" d="M14.8,20.1l1.8,1.7L9,29l-7.6-7.2l1.8-1.7L9,25.6L14.8,20.1z M3.2,13.9l-1.8-1.7L9,5l7.6,7.2l-1.8,1.7L9,8.4-->
<!--L3.2,13.9z"/>-->
<!--</svg>-->
<!--</span></a>-->
<!--</span>-->
<!--<span class="col-xs-12 col-sm-3 col-md-2 col-lg-2 col-xl-2"> <a>-->
<!--Sort-->
<!--<span class="EllucianIcon icon-right icon-arrow" aria-hidden="True">-->
<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--&lt;!&ndash; Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
<!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--viewBox="-3 5 24 24" style="enable-background:new -3 5 24 24;" xml:space="preserve">-->
<!--<style type="text/css">-->
<!--.st0{fill:#869FB1;}-->
<!--</style>-->
<!--<path class="st0" d="M14.8,20.1l1.8,1.7L9,29l-7.6-7.2l1.8-1.7L9,25.6L14.8,20.1z M3.2,13.9l-1.8-1.7L9,5l7.6,7.2l-1.8,1.7L9,8.4-->
<!--L3.2,13.9z"/>-->
<!--</svg>-->
<!--</span></a>-->
<!--</span>-->
<!--<span class="col-xs-12 col-sm-3 col-md-6 col-lg-6 col-xl-6"> <a>-->
<!--Sort-->
<!--<span class="EllucianIcon icon-right icon-arrow" aria-hidden="True">-->
<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--&lt;!&ndash; Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
<!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--viewBox="-3 5 24 24" style="enable-background:new -3 5 24 24;" xml:space="preserve">-->
<!--<style type="text/css">-->
<!--.st0{fill:#869FB1;}-->
<!--</style>-->
<!--<path class="st0" d="M14.8,20.1l1.8,1.7L9,29l-7.6-7.2l1.8-1.7L9,25.6L14.8,20.1z M3.2,13.9l-1.8-1.7L9,5l7.6,7.2l-1.8,1.7L9,8.4-->
<!--L3.2,13.9z"/>-->
<!--</svg>-->
<!--</span></a>-->
<!--</span>-->
<!--</span>-->
<!--<span class="hidden-xs col-sm-3 col-md-3 padding-x-0">-->
<!--<span class="col-xs-12 col-sm-10 col-md-10 padding-0"> <a>-->
<!--Sort-->
<!--<span class="EllucianIcon icon-right icon-arrow" aria-hidden="True">-->
<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--&lt;!&ndash; Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
<!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
<!--viewBox="-3 5 24 24" style="enable-background:new -3 5 24 24;" xml:space="preserve">-->
<!--<style type="text/css">-->
<!--.st0{fill:#869FB1;}-->
<!--</style>-->
<!--<path class="st0" d="M14.8,20.1l1.8,1.7L9,29l-7.6-7.2l1.8-1.7L9,25.6L14.8,20.1z M3.2,13.9l-1.8-1.7L9,5l7.6,7.2l-1.8,1.7L9,8.4-->
<!--L3.2,13.9z"/>-->
<!--</svg>-->
<!--</span></a>-->
<!--</span>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->

<table class="data-table table-bordered">

    <tr id="rowHeader">
        <th ng-bind="'agreementListing.equivalencies.action.tableHeader' | i18n"></th>
        <th ng-bind="'agreementListing.equivalencies.session.tableHeader' | i18n"></th>
        <th ng-bind="'agreementListing.equivalencies.defaultBeginDate.tableHeader' | i18n"></th>
        <th ng-bind="'agreementListing.equivalencies.defaultEndDate.tableHeader' | i18n"></th>
    </tr>

    <tr ng-repeat="equivalency in ag.agreement.equivalencies">
        <td><!--<a id="agreementListing.link.view[{{$index}}]" href="/app/agreementListing/#/equivalencies/{{equivalency.id}}"
               ng-bind="'agreementListing.equivalencies.action.view' | i18n"></a>--></td>
        <td>{{equivalency.session}}</td>
        <td id="equivalencyBeginDate[{{$index}}]">{{equivalency.beginDate | date:'yyyy-MM-dd'}}</td>
        <td id="equivalencyEndDate[{{$index}}]">{{equivalency.endDate | date:'yyyy-MM-dd'}}</td>

        <!-- TODO: this was added by Mike but for the moment it is just causing issues with the Table so I just commented it. -->
        <!--<span class="col-xs-3 col-sm-3 col-md-3 padding-x-0">-->
            <!--<span class="col-xs-12 col-sm-10 col-md-8 padding-0"></span>-->
            <!--<span class="EllucianIcon icon-right icon-more" aria-hidden="True">-->
                <!--<?xml version="1.0" encoding="utf-8"?>-->
                <!--&lt;!&ndash; Generated by IcoMoon.io &ndash;&gt;-->
                <!--<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">-->
                <!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
                    <!--<path fill="#869fb1" d="M9 21c0 1.65 1.35 3 3 3s3-1.35 3-3c0-1.65-1.35-3-3-3s-3 1.35-3 3zM9 3c0 1.65 1.35 3 3 3s3-1.35 3-3c0-1.65-1.35-3-3-3s-3 1.35-3 3zM9 12c0 1.65 1.35 3 3 3s3-1.35 3-3c0-1.65-1.35-3-3-3s-3 1.35-3 3z"></path>-->
                <!--</svg>-->
            <!--</span>-->
		<!--</span>-->

    </tr>
</table>
<!--Create equivalency button-->
<!--<p>-->
    <!--<a id="createEquivalencyBtn" href="#/agreementListing/equivalency" role="button" class="btn btn-default btn-sm" ng-click="ag.createEquivalency()">-->
        <!--<span class="EllucianIcon icon-left icon-identifier glyphicon glyphicon-plus" aria-hidden="true"/>-->
        <!--<span ng-bind="'agreementListing.equivalency.create.button' | i18n"/>-->
    <!--</a>-->
<!--</p>-->


<!--<div class="detail">-->
    <!--<div class="detail-inner">-->
        <!--<button type="button" class="close" aria-hidden="true">×</button>-->
        <!--<h2>This is the detail</h2>-->

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in rhoncus metus. Suspendisse dignissim elit id bibendum eleifend. Integer tristique auctor ex laoreet-->
            <!--imperdiet. Maecenas ultrices feugiat ipsum et tincidunt. Aenean ac elit purus. Maecenas feugiat augue nec risus scelerisque, et feugiat neque blandit.</p>-->
    <!--</div>-->
<!--</div>-->
</div>
</div>
<!-- /container -->
</div>
<!-- end body wrapper -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="patterns/_js-global/bootstrap.min.js"></script>
<script src="patterns/_js-global/modernizr.js"></script>
<script src="patterns/inputs/hideShowPassword.js"></script>
<script src="patterns/sidebar_nav/sidebar-nav.js"></script>
<script src="patterns/dropdowns/dropdowns.js"></script>
<script src="patterns/input_datepicker/bootstrap-datepicker.js"></script>
<script src="patterns/tables/tableFilterShowHide.js"></script>
<script src="patterns/popovers/popover.js"></script>
<script src="patterns/tooltips/tooltip.js"></script>


<script>
    $("div.table-row").click(function () {
        $("div.table-row").removeClass("active");
        $("div.master").addClass("master-75");
        $("div.detail").addClass("detail-25");
        $(this).toggleClass("active");
        $(this).click(function () {
            $(this).toggleClass("active");
            $("div.master").toggleClass("master-75");
            $("div.detail").toggleClass("detail-25");
        });
    });
    $("button.close").click(function () {
        $("div.table-row").removeClass("active");
        $("div.master").removeClass("master-75");
        $("div.detail").removeClass("detail-25");
    });
</script>
<!-- import script specific to this page layout -->
</body>


